a, .btn-link {
    color: #e0a800;
}

.navHeader {
    padding: 5px;
    padding-bottom: 2px;
    background: #1e2125;
    width: 100%;
}

.titleEdit {
    font-size: x-large;
    border-radius: 9999px;
}

.modal-blue {
    background-color: #2c0a51;
}

.ql-snow .ql-icon-picker .ql-picker-label {
    padding: 0px;
}

.rz-html-editor-content, .rz-dropdown-list {
    flex: 1;
    overflow: auto;
    padding: 0.5rem;
    outline: none;
}