@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to Mkt3</h1>

Mkt3 is a program that was developed by faculty at 
<a href="http://cs.rit.edu">Rochester Institute of Technology Computer Science Department </a> 
in their spare time.  The early versions were a python command line driven application, and can 
be found on <a href="https://github.com/jetcom/mkt">GitHub</a>.  While this version had served us 
well for many years, we decided to bring it into the 21st century with a shinny new web interface
written in C# with Blazor.
<br/><br/>
Account registration is free (you need to log in with an external provider (like Google, Microsoft,
or Facebook).
<br/><br/>
We will continue to add features to make it usable.  Feel free to report issues at the 
<a href="https://github.com/jsb2092/mkt3">Project Page</a>