@page "/QuestionList"
@page "/QuestionList/{TopicID}"

@using Mkt3.Data
@using Mkt3.Components
@inject QuestionService QuestionService;
@inject ExamService ExamService;
@inject NavigationManager Navigation

@if (TopicID == null)
{
    <p><em>Loading...</em></p>
}
else
{
   <!-- <ExamInfoComponent courseID="@CourseID" examID="@ExamID"/>-->
    <QuestionListComponent topicID="@TopicID" onDeleteCallBack="OnDelete"/>

}

@code {
    

    [Parameter]
    public string TopicID { get; set; }


    protected override async Task OnInitializedAsync()
    {
    
    }

    private async void OnDelete()
    {
        StateHasChanged();
       // Navigation.NavigateTo("/questionList", true);
    }
}