@page "/questioneditor"
@using Mkt3.Data
@using Mkt3.Components



@inject QuestionService QuestionService;

<PageTitle>Question Editor</PageTitle>

<h1>Edit or Add Questions</h1>

<p>This page will allow you to edit a question</p>


@if (_question == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <tbody>
        <tr><td>Type:</td><td><select value="@_question.type" @onchange="QuestionTypeChange">
            <option value="LongAnswer">Long Answer</option>>
            <option value="ShortAnswer">Short Answer</option>>
            <option value="TF">True/False</option>>
        </select></td></tr>
        </tbody>
    </table>
    @if (_showTF)
    {
        <TrueFalseComponent/>
    }
    @if (_showSA)
    {
        <ShortAnswerComponent/>
    }
    
}
@code {
    private Question? _question;
    private bool _showTF = false;
    private bool _showSA = false;

    protected override async Task OnInitializedAsync()
    {
        _question = await QuestionService.GetQuestionAsync("foo");
    }

    private void QuestionTypeChange(ChangeEventArgs obj)
    {
        var selected = obj.Value.ToString();
        _showTF = false;
        _showSA = false;
        if (selected == "TF")
        {
            _showTF = true;
        }
        else if (selected == "ShortAnswer")
        {
            _showSA = true;
        }
    }

}