<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/Logout">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Login" title="Login" class="rz-mx-2 rz-mx-lg-4" target="_blank">Login</a>
<!--        <a href="" title="Register" class="rz-text-nowrap rz-mx-2 rz-mx-lg-4" target="_blank">Register</a>-->

    </NotAuthorized>
</AuthorizeView>