@using Mkt3.Data
@inject NavigationManager Navigation
@inject QuestionService QuestionService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Mkt3</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="questionList">
                <span class="oi oi-plus" aria-hidden="true"></span> QuestionEditors
            </NavLink>
        </div>
    </nav>
</div>


<div class="navHeader">
    <img src="images/new.png" width="24px"/>
    <img src="images/folder.png" width="24px"/>
    <img src="images/upload.png" width="24px"/>
    <span style="padding-left: 95px">
        <img src="images/rename.png" width="24px"/>
        <img src="images/delete.png" width="24px"/>       
    </span>
</div>
<div style="padding-top:5px;">
<TreeView Nodes="Items"
          GetChildNodes="@(item => item.Children)"
          HasChildNodes="@(item => item.Children?.Any() == true)"
          TNode="Item"
          SelectedNode="SelectedNode"
          SelectedNodeChanged="onSelectedNodeChanged">
      
    <NodeContent>@context.Text</NodeContent>
</TreeView>
</div>

<a href="/">New Course</a>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    public class Item
    {
        public int id { get; set; }
        public string Parent { get; set; }
        public string Text { get; set; }
        public int TopicID { get; set; }
        
        public IEnumerable<Item> Children { get; set; }
      
    }

    List<Item> Items = new();
    /*IEnumerable<Item> Items = new[]
    {

        new Item {
            Parent = "",
            Text = "CSCI.320",
            Children = new []
            {
                new Item { Parent="CSCI.320", Text = "Quiz 1" },
                new Item { Parent="CSCI.320",  Text = "Quiz 2" },
                new Item { Parent="CSCI.320",  Text = "Quiz 3" },
                new Item { Parent="CSCI.320",  Text = "Final Exam" }
            }
        },
        new Item { Parent = "", Text = "CSCI.420" },
    };*/

    IList<Item> ExpandedNodes = new List<Item>();
    Item SelectedNode;

    protected override async Task OnInitializedAsync()
    {
        var allTopics = await QuestionService.GetTopics();


        foreach (var topic in  allTopics.DistinctBy(e => e.Course))
        {
            var children = allTopics.FindAll(e => e.Course == topic.Course).OrderBy(e=>e.Name).Select(child => new Item() { Parent = topic.Course, Text = child.Name, TopicID = child.ID}).ToList();

            Items.Add(new Item() { Text = topic.Course, Children = children});
        }
    }
    
    private void onSelectedNodeChanged(Item item)
    {
        if (item != null)
        {
            StateHasChanged();
            Navigation.NavigateTo("/questionList/" + item.TopicID);
        }
    }


  

}