@using Mkt3.Data

<div class="form-field">
                <div class="form-field-label" for="lastNameInput">QuestionID: </div>
    <div class="form-field-control">
        <RadzenTextBox @bind-Value="@question.QuestionLabel" Class="w-100" />
     
    </div>
            </div>
            <div class="form-field">
                <div class="form-field-label" for="lastNameInput">Prompt: </div>
                <div class="form-field-control">
            
                      <RadzenHtmlEditor  @bind-Value=@question.Prompt style="height: 150px; width: 600px;" UploadUrl="upload/image" >
                                       <RadzenHtmlEditorUndo />
                                       <RadzenHtmlEditorRedo />
                                       <RadzenHtmlEditorSeparator />
                                       <RadzenHtmlEditorBold />
                                       <RadzenHtmlEditorItalic />
                                       <RadzenHtmlEditorUnderline />
                                       <RadzenHtmlEditorSeparator />
                                       <RadzenHtmlEditorOrderedList/>
                                       <RadzenHtmlEditorUnorderedList/>
                                       <RadzenHtmlEditorAlignLeft/>
                                       <RadzenHtmlEditorAlignCenter/>
                                       <RadzenHtmlEditorAlignRight/>
                                   </RadzenHtmlEditor>
                </div>
            </div>

@code {
    [Parameter]
    public Question? question { get; set; }  
}